flows/AI新聞推送.json
{
  "name": "AI新聞推送",
  "nodes": [
    {
      "id": "webhook-ai-3",
      "name": "Webhook 觸發",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-900, -200],
      "webhookId": "c7d9e4f1-2b3a-5c6d-8e7f-9a0b1c2d3e4f",
      "parameters": {
        "path": "push-ai-news-v3",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "rss-tech",
      "name": "RSS 科技新報",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [-600, -350],
      "parameters": {
        "url": "https://technews.tw/feed/"
      }
    },
    {
      "id": "rss-inside",
      "name": "RSS TechOrange",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [-600, -50],
      "parameters": {
        "url": "https://buzzorange.com/techorange/feed/"
      }
    },
    {
      "id": "merge-news",
      "name": "合併新聞來源",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [-300, -200],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "code-filter-3",
      "name": "篩選今日新聞",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, -200],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const allItems = $input.all();\nconst keywords = ['claude', 'chatgpt', 'gemini', 'openai', 'grok', 'anthropic', 'copilot', 'ai模型', '生成式', '人工智慧', 'llm', 'sora', 'deepseek', '大模型', 'ai助理', '機器學習', '深度學習', 'ai創作'];\nconst now = new Date();\nconst taiwanNow = new Date(now.getTime() + 8 * 60 * 60 * 1000);\nconst todayStr = taiwanNow.toISOString().split('T')[0];\n\nfunction getDateTW(pub) {\n  if (!pub) return null;\n  try {\n    const d = new Date(pub);\n    if (isNaN(d.getTime())) return null;\n    return new Date(d.getTime() + 8 * 60 * 60 * 1000);\n  } catch(e) { return null; }\n}\n\nfunction scoreItem(item) {\n  const title = (item.json.title || '').toLowerCase();\n  const content = (item.json.contentSnippet || item.json.content || '').toLowerCase();\n  return keywords.reduce((acc, kw) => acc + (title.includes(kw) ? 3 : 0) + (content.includes(kw) ? 1 : 0), 0);\n}\n\nconst todayItems = allItems.filter(item => {\n  const d = getDateTW(item.json.pubDate || item.json.isoDate);\n  return d && d.toISOString().split('T')[0] === todayStr;\n});\n\nlet pool, period;\nif (todayItems.length > 0) {\n  pool = todayItems;\n  period = 'today';\n} else {\n  const weekAgo = new Date(taiwanNow.getTime() - 7 * 24 * 60 * 60 * 1000);\n  const weekItems = allItems.filter(item => {\n    const d = getDateTW(item.json.pubDate || item.json.isoDate);\n    return d && d >= weekAgo;\n  });\n  if (weekItems.length === 0) { return []; }\n  pool = weekItems;\n  period = 'week';\n}\n\nconst seen = new Set();\nconst unique = pool.filter(item => {\n  const key = (item.json.title || '').substring(0, 30);\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\nconst scored = unique.map(item => ({ score: scoreItem(item), json: item.json }));\nscored.sort((a, b) => b.score - a.score);\nconst top5 = scored.slice(0, 5);\n\n// === 靜態資料去重 ===\nconst staticData = $getWorkflowStaticData('global');\nconst sentLinks = new Set(staticData.sentLinks || []);\n\nconst articles = top5\n  .map(item => ({\n    title: (item.json.title || '無標題').substring(0, 80),\n    link: item.json.link || item.json.guid || ''\n  }))\n  .filter(a => !sentLinks.has(a.link));\n\nif (articles.length === 0) {\n  console.log('所有文章已發送過，略過');\n  return [];\n}\n\n// 記錄已發送（保留最多 100 筆）\nstaticData.sentLinks = [\n  ...(staticData.sentLinks || []),\n  ...articles.map(a => a.link)\n].slice(-100);\n\nconst titleList = articles.map((a, i) => (i+1) + '. ' + a.title).join('\\n');\nconst prompt = '請用繁體中文，為以下每則AI新聞標題各寫一句話重點摘要（不超過35字）。\\n格式：只回傳「編號. 摘要」，不要重複標題文字。\\n\\n新聞標題：\\n' + titleList;\nreturn [{ json: { articles, prompt, period } }];"
      }
    },
    {
      "id": "http-gemini-3",
      "name": "Gemini摘要",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [300, -200],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/translate",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "prompt", "value": "={{ $json.prompt }}" }
          ]
        }
      }
    },
    {
      "id": "code-format-3",
      "name": "組合Discord訊息",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, -200],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const filterData = $('篩選今日新聞').first().json;\nconst articles = filterData.articles || [];\nconst period = filterData.period || 'today';\nconst geminiText = $json.text || '';\nconst lines = geminiText.split('\\n');\nconst summaries = [];\nfor (const line of lines) {\n  const m = line.trim().match(/^(\\d+)[.、:：]\\s*(.+)/);\n  if (m) summaries[parseInt(m[1]) - 1] = m[2].trim();\n}\nconst today = new Date().toLocaleDateString('zh-TW', { timeZone: 'Asia/Taipei', year: 'numeric', month: 'long', day: 'numeric', weekday: 'long' });\nconst periodNote = period === 'week' ? '（本週新聞）\\n\\n' : '';\nconst header = '🤖 **AI 科技新聞快報** 📰\\n📅 ' + today + '\\n\\n' + periodNote;\nconst footer = '\\n> 資料來源：科技新報 & TechOrange';\nconst MAX = 1900;\nlet parts = [], totalLen = header.length + footer.length;\nfor (let i = 0; i < articles.length; i++) {\n  const title = articles[i].title, link = articles[i].link;\n  const summary = summaries[i] || '';\n  const part = '**' + (i+1) + '. ' + title + '**\\n' + (summary ? summary + '\\n' : '') + link;\n  const addLen = part.length + (parts.length > 0 ? 2 : 0);\n  if (totalLen + addLen > MAX) break;\n  parts.push(part); totalLen += addLen;\n}\nconst content = header + parts.join('\\n\\n') + footer;\nreturn [{ json: { content } }];"
      }
    },
    {
      "id": "discord-ai-3",
      "name": "Discord推送AI新聞",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [900, -200],
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.content }}",
        "options": {}
      },
      "credentials": {
        "discordWebhookApi": {
          "id": "lrmdeEtQUhigUA6Q",
          "name": "bot_ai新知"
        }
      }
    }
  ],
  "connections": {
    "Webhook 觸發": {
      "main": [[
        { "node": "RSS 科技新報",  "type": "main", "index": 0 },
        { "node": "RSS TechOrange", "type": "main", "index": 0 }
      ]]
    },
    "RSS 科技新報": {
      "main": [[{ "node": "合併新聞來源", "type": "main", "index": 0 }]]
    },
    "RSS TechOrange": {
      "main": [[{ "node": "合併新聞來源", "type": "main", "index": 1 }]]
    },
    "合併新聞來源": {
      "main": [[{ "node": "篩選今日新聞", "type": "main", "index": 0 }]]
    },
    "篩選今日新聞": {
      "main": [[{ "node": "Gemini摘要", "type": "main", "index": 0 }]]
    },
    "Gemini摘要": {
      "main": [[{ "node": "組合Discord訊息", "type": "main", "index": 0 }]]
    },
    "組合Discord訊息": {
      "main": [[{ "node": "Discord推送AI新聞", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {}
}
