flows/Discord指令調度器.json
{"updatedAt":"2026-03-02T16:23:49.055Z","createdAt":"2026-03-02T16:15:45.313Z","id":"XEX5TLxo9hIgzsG7","name":"Discord 指令調度器","description":null,"active":true,"isArchived":false,"nodes":[{"id":"node-trigger","name":"Discord Trigger","type":"n8n-nodes-discord-trigger.discordTrigger","typeVersion":1,"position":[0,200],"parameters":{"type":"message","guildIds":[],"channelIds":[],"pattern":"every"},"credentials":{"discordBotTriggerApi":{"id":"Efo20sVjfHHkqvwl","name":"Discord Bot Trigger account"}}},{"id":"node-filter","name":"篩選指令","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,200],"parameters":{"jsCode":"const CHANNEL_ID = '1478051589276045362';\nconst COMMANDS = ['!news', '!週報', '!help'];\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const msg = item.json;\n  if (msg.author && msg.author.bot) continue;\n  const channelId = msg.channelId || msg.channel_id || '';\n  if (channelId !== CHANNEL_ID) continue;\n  const content = (msg.content || '').trim();\n  if (!COMMANDS.includes(content)) continue;\n  results.push({\n    json: {\n      command: content,\n      channelId: channelId,\n      authorName: msg.author ? msg.author.username : 'unknown'\n    }\n  });\n}\n\nreturn results;"}},{"id":"node-switch","name":"Switch 指令","type":"n8n-nodes-base.switch","typeVersion":3,"position":[440,200],"parameters":{"mode":"rules","rules":{"values":[{"outputKey":"news","conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"combinator":"and","conditions":[{"leftValue":"={{ $json.command }}","rightValue":"!news","operator":{"type":"string","operation":"equals"}}]}},{"outputKey":"weekly","conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"combinator":"and","conditions":[{"leftValue":"={{ $json.command }}","rightValue":"!週報","operator":{"type":"string","operation":"equals"}}]}},{"outputKey":"help","conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"combinator":"and","conditions":[{"leftValue":"={{ $json.command }}","rightValue":"!help","operator":{"type":"string","operation":"equals"}}]}}]},"options":{}}},{"id":"node-reply-news","name":"回覆 !news","type":"n8n-nodes-base.discord","typeVersion":2,"position":[680,60],"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1474310522018074758","mode":"list","cachedResultName":"P機器人開發用","cachedResultUrl":"https://discord.com/channels/1474310522018074758"},"channelId":{"__rl":true,"value":"1478051589276045362","mode":"list","cachedResultName":"bot_指令專區","cachedResultUrl":"https://discord.com/channels/1474310522018074758/1478051589276045362"},"content":"⏳ 正在取得最新 AI 新聞，請稍候...","options":{}},"credentials":{"discordBotApi":{"id":"BotgF1KSIU3IsIG6","name":"Discord Bot account"}}},{"id":"node-trigger-news","name":"觸發 AI新聞推送","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,160],"parameters":{"method":"POST","url":"http://localhost:5678/webhook/trigger-news","sendBody":true,"contentType":"json","body":{"source":"discord-command","command":"!news"}}},{"id":"node-reply-weekly","name":"回覆 !週報","type":"n8n-nodes-base.discord","typeVersion":2,"position":[680,300],"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1474310522018074758","mode":"list","cachedResultName":"P機器人開發用","cachedResultUrl":"https://discord.com/channels/1474310522018074758"},"channelId":{"__rl":true,"value":"1478051589276045362","mode":"list","cachedResultName":"bot_指令專區","cachedResultUrl":"https://discord.com/channels/1474310522018074758/1478051589276045362"},"content":"⏳ 正在取得本週 MCP Server 週報，請稍候...","options":{}},"credentials":{"discordBotApi":{"id":"BotgF1KSIU3IsIG6","name":"Discord Bot account"}}},{"id":"node-trigger-weekly","name":"觸發 MCP週報","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,400],"parameters":{"method":"POST","url":"http://localhost:5678/webhook/trigger-weekly","sendBody":true,"contentType":"json","body":{"source":"discord-command","command":"!週報"}}},{"id":"node-reply-help","name":"回覆 !help","type":"n8n-nodes-base.discord","typeVersion":2,"position":[680,540],"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1474310522018074758","mode":"list","cachedResultName":"P機器人開發用","cachedResultUrl":"https://discord.com/channels/1474310522018074758"},"channelId":{"__rl":true,"value":"1478051589276045362","mode":"list","cachedResultName":"bot_指令專區","cachedResultUrl":"https://discord.com/channels/1474310522018074758/1478051589276045362"},"content":"🤖 **指令列表**\n`!news` — 立即取得最新 AI 新聞摘要\n`!週報` — 取得本週 MCP Server 精選週報\n`!help` — 顯示此說明","options":{}},"credentials":{"discordBotApi":{"id":"BotgF1KSIU3IsIG6","name":"Discord Bot account"}}}],"connections":{"Discord Trigger":{"main":[[{"node":"篩選指令","type":"main","index":0}]]},"篩選指令":{"main":[[{"node":"Switch 指令","type":"main","index":0}]]},"Switch 指令":{"main":[[{"node":"回覆 !news","type":"main","index":0},{"node":"觸發 AI新聞推送","type":"main","index":0}],[{"node":"回覆 !週報","type":"main","index":0},{"node":"觸發 MCP週報","type":"main","index":0}],[{"node":"回覆 !help","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":true,"saveManualExecutions":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","executionTimeout":3600,"timezone":"UTC","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7866379a-e9fd-47cc-bd66-08e421c13ca0","activeVersionId":"7866379a-e9fd-47cc-bd66-08e421c13ca0","versionCounter":17,"triggerCount":1,"shared":[{"updatedAt":"2026-03-02T16:15:45.316Z","createdAt":"2026-03-02T16:15:45.316Z","role":"workflow:owner","workflowId":"XEX5TLxo9hIgzsG7","projectId":"AoCIq5JRkialljrz","project":{"updatedAt":"2026-02-04T16:02:35.455Z","createdAt":"2026-02-04T16:01:41.010Z","id":"AoCIq5JRkialljrz","name":"peter lu <peter888852@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"0bd3800a-8a59-43b2-8725-1f6789a39918"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-02T16:23:49.056Z","createdAt":"2026-03-02T16:23:49.056Z","versionId":"7866379a-e9fd-47cc-bd66-08e421c13ca0","workflowId":"XEX5TLxo9hIgzsG7","nodes":[{"id":"node-trigger","name":"Discord Trigger","type":"n8n-nodes-discord-trigger.discordTrigger","typeVersion":1,"position":[0,200],"parameters":{"type":"message","guildIds":[],"channelIds":[],"pattern":"every"},"credentials":{"discordBotTriggerApi":{"id":"Efo20sVjfHHkqvwl","name":"Discord Bot Trigger account"}}},{"id":"node-filter","name":"篩選指令","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,200],"parameters":{"jsCode":"const CHANNEL_ID = '1478051589276045362';\nconst COMMANDS = ['!news', '!週報', '!help'];\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const msg = item.json;\n  if (msg.author && msg.author.bot) continue;\n  const channelId = msg.channelId || msg.channel_id || '';\n  if (channelId !== CHANNEL_ID) continue;\n  const content = (msg.content || '').trim();\n  if (!COMMANDS.includes(content)) continue;\n  results.push({\n    json: {\n      command: content,\n      channelId: channelId,\n      authorName: msg.author ? msg.author.username : 'unknown'\n    }\n  });\n}\n\nreturn results;"}},{"id":"node-switch","name":"Switch 指令","type":"n8n-nodes-base.switch","typeVersion":3,"position":[440,200],"parameters":{"mode":"rules","rules":{"values":[{"outputKey":"news","conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"combinator":"and","conditions":[{"leftValue":"={{ $json.command }}","rightValue":"!news","operator":{"type":"string","operation":"equals"}}]}},{"outputKey":"weekly","conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"combinator":"and","conditions":[{"leftValue":"={{ $json.command }}","rightValue":"!週報","operator":{"type":"string","operation":"equals"}}]}},{"outputKey":"help","conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"combinator":"and","conditions":[{"leftValue":"={{ $json.command }}","rightValue":"!help","operator":{"type":"string","operation":"equals"}}]}}]},"options":{}}},{"id":"node-reply-news","name":"回覆 !news","type":"n8n-nodes-base.discord","typeVersion":2,"position":[680,60],"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1474310522018074758","mode":"list","cachedResultName":"P機器人開發用","cachedResultUrl":"https://discord.com/channels/1474310522018074758"},"channelId":{"__rl":true,"value":"1478051589276045362","mode":"list","cachedResultName":"bot_指令專區","cachedResultUrl":"https://discord.com/channels/1474310522018074758/1478051589276045362"},"content":"⏳ 正在取得最新 AI 新聞，請稍候...","options":{}},"credentials":{"discordBotApi":{"id":"BotgF1KSIU3IsIG6","name":"Discord Bot account"}}},{"id":"node-trigger-news","name":"觸發 AI新聞推送","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,160],"parameters":{"method":"POST","url":"http://localhost:5678/webhook/trigger-news","sendBody":true,"contentType":"json","body":{"source":"discord-command","command":"!news"}}},{"id":"node-reply-weekly","name":"回覆 !週報","type":"n8n-nodes-base.discord","typeVersion":2,"position":[680,300],"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1474310522018074758","mode":"list","cachedResultName":"P機器人開發用","cachedResultUrl":"https://discord.com/channels/1474310522018074758"},"channelId":{"__rl":true,"value":"1478051589276045362","mode":"list","cachedResultName":"bot_指令專區","cachedResultUrl":"https://discord.com/channels/1474310522018074758/1478051589276045362"},"content":"⏳ 正在取得本週 MCP Server 週報，請稍候...","options":{}},"credentials":{"discordBotApi":{"id":"BotgF1KSIU3IsIG6","name":"Discord Bot account"}}},{"id":"node-trigger-weekly","name":"觸發 MCP週報","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,400],"parameters":{"method":"POST","url":"http://localhost:5678/webhook/trigger-weekly","sendBody":true,"contentType":"json","body":{"source":"discord-command","command":"!週報"}}},{"id":"node-reply-help","name":"回覆 !help","type":"n8n-nodes-base.discord","typeVersion":2,"position":[680,540],"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1474310522018074758","mode":"list","cachedResultName":"P機器人開發用","cachedResultUrl":"https://discord.com/channels/1474310522018074758"},"channelId":{"__rl":true,"value":"1478051589276045362","mode":"list","cachedResultName":"bot_指令專區","cachedResultUrl":"https://discord.com/channels/1474310522018074758/1478051589276045362"},"content":"🤖 **指令列表**\n`!news` — 立即取得最新 AI 新聞摘要\n`!週報` — 取得本週 MCP Server 精選週報\n`!help` — 顯示此說明","options":{}},"credentials":{"discordBotApi":{"id":"BotgF1KSIU3IsIG6","name":"Discord Bot account"}}}],"connections":{"Discord Trigger":{"main":[[{"node":"篩選指令","type":"main","index":0}]]},"篩選指令":{"main":[[{"node":"Switch 指令","type":"main","index":0}]]},"Switch 指令":{"main":[[{"node":"回覆 !news","type":"main","index":0},{"node":"觸發 AI新聞推送","type":"main","index":0}],[{"node":"回覆 !週報","type":"main","index":0},{"node":"觸發 MCP週報","type":"main","index":0}],[{"node":"回覆 !help","type":"main","index":0}]]}},"authors":"peter lu","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-02T16:24:08.279Z","id":49,"workflowId":"XEX5TLxo9hIgzsG7","versionId":"7866379a-e9fd-47cc-bd66-08e421c13ca0","event":"activated","userId":"0bd3800a-8a59-43b2-8725-1f6789a39918"}]}}