flows/MCP_Server_週報.json
{"updatedAt":"2026-03-14T07:24:19.625Z","createdAt":"2026-02-27T19:53:08.294Z","id":"LxwVTKy2YIt80LP1","name":"GitHub Trending 週報","description":null,"active":true,"isArchived":false,"nodes":[{"id":"mcp-schedule","name":"每週排程","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-900,-100],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 23 * * 1"}]}}},{"id":"mcp-webhook","name":"Webhook 手動觸發","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-900,100],"webhookId":"c3d4e5f6-a7b8-9012-cdef-123456789abc","parameters":{"httpMethod":"POST","path":"trigger-weekly","responseMode":"onReceived","options":{}}},{"id":"mcp-github-search","name":"GitHub 搜尋 Trending","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-600,0],"parameters":{"method":"GET","url":"https://api.github.com/search/repositories","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ 'pushed:>' + $now.minus({days: 7}).toFormat('yyyy-MM-dd') + ' stars:>30' }}"},{"name":"sort","value":"stars"},{"name":"order","value":"desc"},{"name":"per_page","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"User-Agent","value":"n8n-trending-monitor"}]},"options":{}}},{"id":"mcp-prepare-prompt","name":"準備 Gemini Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[-300,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const items = $input.all();\nconst staticData = $getWorkflowStaticData('global');\nconst excluded = staticData.previousRepos || [];\nif (excluded.length > 0) {\n  console.log('[去重] 排除已推薦過的', excluded.length, '個專案:', excluded.join(', '));\n}\n\nconst filtered = (items[0].json.items || [])\n  .filter(r => {\n    if (!r.description || r.description.length < 10) return false;\n    if (r.stargazers_count > 500000) return false;\n    if (excluded.includes(r.full_name)) return false;\n    return true;\n  })\n  .slice(0, 20);\n\nconst repoList = filtered.map((r, i) => {\n  const pushed = r.pushed_at ? r.pushed_at.split('T')[0] : '?';\n  const created = r.created_at ? r.created_at.split('T')[0] : '?';\n  const topics = r.topics?.join(', ') || '無';\n  return `${i+1}. ${r.full_name} (⭐${r.stargazers_count}, 最近commit:${pushed}, 建立:${created})\\n   主題：${topics}\\n   說明：${r.description}\\n   ${r.html_url}`;\n}).join('\\n\\n');\n\nif (filtered.length === 0) {\n  return [{ json: { repos: [], prompt: '', skip: true } }];\n}\n\nconst prompt = `以下是本週 GitHub 上活躍的熱門專案清單（按 stars 排序）。請從中挑選 5 個最值得開發者/工程師關注的項目，優先考量：\\n- 🤖 AI 工具、Agent、LLM 相關\\n- 🔧 開發者工具、CLI、自動化\\n- 🔌 API 整合、插件框架\\n- 📈 本週新起之秀（建立日期近且已有高 stars）\\n請排除：基礎框架（React, Vue, Python 核心）、教學/課程類 repo、非英/中文說明的 repo。\\n\\n對每個項目請用以下格式（**繁體中文**回應）：\\n\\n**名稱**（原始 full_name）\\n🔥 亮點：一句話說明為什麼本週值得關注（不超過30字）\\n🔧 功能：能做什麼\\n💡 適合誰：什麼類型的開發者/使用者\\n🔗 連結：GitHub URL\\n\\nGitHub 熱門專案清單：\\n${repoList}`;\n\nreturn [{ json: { repos: filtered, prompt } }];"}},{"id":"mcp-gemini","name":"Gemini 評估","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[0,0],"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }] }) }}","options":{}},"credentials":{"googlePalmApi":{"id":"Xw882n6J03q5FPQI","name":"Google Gemini(PaLM) Api account"}}},{"id":"mcp-format","name":"格式化 Discord","type":"n8n-nodes-base.code","typeVersion":2,"position":[300,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const geminiText = ($json.candidates?.[0]?.content?.parts?.[0]?.text) || '（Gemini 未回應）';\nconst today = new Date().toLocaleDateString('zh-TW', {timeZone:'Asia/Taipei',year:'numeric',month:'long',day:'numeric',weekday:'long'});\nconst header = `🔥 **GitHub Trending 週報** 🚀\\n📅 ${today}\\n\\n`;\nconst footer = `\\n\\n> 資料來源：GitHub Search 本週活躍熱門專案（stars>30 · 7天內有 commit）`;\nlet content = header + geminiText + footer;\nif (content.length > 1900) content = content.substring(0, 1897) + '...';\nreturn [{ json: { content } }];"}},{"id":"mcp-discord","name":"Discord 推送","type":"n8n-nodes-base.discord","typeVersion":2,"position":[600,0],"parameters":{"authentication":"webhook","content":"={{ $json.content }}","options":{}},"credentials":{"discordWebhookApi":{"id":"lrmdeEtQUhigUA6Q","name":"bot_ai新知"}}},{"id":"mcp-save-recommended","name":"儲存已推薦清單","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const geminiText = $('Gemini 評估').first().json?.candidates?.[0]?.content?.parts?.[0]?.text || '';\nconst allRepos = $('準備 Gemini Prompt').first().json?.repos || [];\nconst mentioned = allRepos\n  .filter(r => geminiText.includes(r.full_name))\n  .map(r => r.full_name);\nconsole.log('[去重] 本週推薦:', mentioned.join(', '));\nconst staticData = $getWorkflowStaticData('global');\nconst prev = staticData.previousRepos || [];\nstaticData.previousRepos = [...prev, ...mentioned].slice(-20);\nconsole.log('[去重] 累計排除清單:', staticData.previousRepos.join(', '));\nreturn $input.all();"}}],"connections":{"每週排程":{"main":[[{"node":"GitHub 搜尋 Trending","type":"main","index":0}]]},"Webhook 手動觸發":{"main":[[{"node":"GitHub 搜尋 Trending","type":"main","index":0}]]},"GitHub 搜尋 Trending":{"main":[[{"node":"準備 Gemini Prompt","type":"main","index":0}]]},"準備 Gemini Prompt":{"main":[[{"node":"Gemini 評估","type":"main","index":0}]]},"Gemini 評估":{"main":[[{"node":"格式化 Discord","type":"main","index":0}]]},"格式化 Discord":{"main":[[{"node":"Discord 推送","type":"main","index":0}]]},"Discord 推送":{"main":[[{"node":"儲存已推薦清單","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":true,"saveManualExecutions":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","executionTimeout":3600,"timezone":"UTC","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"executionOrder":"v1"},"staticData":{"node:每週排程":{"recurrenceRules":[]},"global":{"previousRepos":["google-gemini/gemini-cli","upstash/context7","ChromeDevTools/chrome-devtools-mcp","activepieces/activepieces","oraios/serena","TheLunarCompany/lunar","jpicklyk/task-orchestrator","Cyfrin/aderyn","Klavis-AI/klavis","archestra-ai/archestra","wanshuiyin/Auto-claude-code-research-in-sleep","IvanMurzak/Unity-MCP","microsoft/wassette"]}},"meta":null,"pinData":null,"versionId":"ccc1954d-fb9a-445d-89fa-4bc4e731fcc8","activeVersionId":"ccc1954d-fb9a-445d-89fa-4bc4e731fcc8","versionCounter":53,"triggerCount":2,"shared":[{"updatedAt":"2026-02-27T19:53:08.302Z","createdAt":"2026-02-27T19:53:08.302Z","role":"workflow:owner","workflowId":"LxwVTKy2YIt80LP1","projectId":"AoCIq5JRkialljrz","project":{"updatedAt":"2026-02-04T16:02:35.455Z","createdAt":"2026-02-04T16:01:41.010Z","id":"AoCIq5JRkialljrz","name":"peter lu <peter888852@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"0bd3800a-8a59-43b2-8725-1f6789a39918"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-14T07:24:19.628Z","createdAt":"2026-03-14T07:24:19.628Z","versionId":"ccc1954d-fb9a-445d-89fa-4bc4e731fcc8","workflowId":"LxwVTKy2YIt80LP1","nodes":[{"id":"mcp-schedule","name":"每週排程","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-900,-100],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 23 * * 1"}]}}},{"id":"mcp-webhook","name":"Webhook 手動觸發","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-900,100],"webhookId":"c3d4e5f6-a7b8-9012-cdef-123456789abc","parameters":{"httpMethod":"POST","path":"trigger-weekly","responseMode":"onReceived","options":{}}},{"id":"mcp-github-search","name":"GitHub 搜尋 Trending","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-600,0],"parameters":{"method":"GET","url":"https://api.github.com/search/repositories","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ 'pushed:>' + $now.minus({days: 7}).toFormat('yyyy-MM-dd') + ' stars:>30' }}"},{"name":"sort","value":"stars"},{"name":"order","value":"desc"},{"name":"per_page","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"User-Agent","value":"n8n-trending-monitor"}]},"options":{}}},{"id":"mcp-prepare-prompt","name":"準備 Gemini Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[-300,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const items = $input.all();\nconst staticData = $getWorkflowStaticData('global');\nconst excluded = staticData.previousRepos || [];\nif (excluded.length > 0) {\n  console.log('[去重] 排除已推薦過的', excluded.length, '個專案:', excluded.join(', '));\n}\n\nconst filtered = (items[0].json.items || [])\n  .filter(r => {\n    if (!r.description || r.description.length < 10) return false;\n    if (r.stargazers_count > 500000) return false;\n    if (excluded.includes(r.full_name)) return false;\n    return true;\n  })\n  .slice(0, 20);\n\nconst repoList = filtered.map((r, i) => {\n  const pushed = r.pushed_at ? r.pushed_at.split('T')[0] : '?';\n  const created = r.created_at ? r.created_at.split('T')[0] : '?';\n  const topics = r.topics?.join(', ') || '無';\n  return `${i+1}. ${r.full_name} (⭐${r.stargazers_count}, 最近commit:${pushed}, 建立:${created})\\n   主題：${topics}\\n   說明：${r.description}\\n   ${r.html_url}`;\n}).join('\\n\\n');\n\nif (filtered.length === 0) {\n  return [{ json: { repos: [], prompt: '', skip: true } }];\n}\n\nconst prompt = `以下是本週 GitHub 上活躍的熱門專案清單（按 stars 排序）。請從中挑選 5 個最值得開發者/工程師關注的項目，優先考量：\\n- 🤖 AI 工具、Agent、LLM 相關\\n- 🔧 開發者工具、CLI、自動化\\n- 🔌 API 整合、插件框架\\n- 📈 本週新起之秀（建立日期近且已有高 stars）\\n請排除：基礎框架（React, Vue, Python 核心）、教學/課程類 repo、非英/中文說明的 repo。\\n\\n對每個項目請用以下格式（**繁體中文**回應）：\\n\\n**名稱**（原始 full_name）\\n🔥 亮點：一句話說明為什麼本週值得關注（不超過30字）\\n🔧 功能：能做什麼\\n💡 適合誰：什麼類型的開發者/使用者\\n🔗 連結：GitHub URL\\n\\nGitHub 熱門專案清單：\\n${repoList}`;\n\nreturn [{ json: { repos: filtered, prompt } }];"}},{"id":"mcp-gemini","name":"Gemini 評估","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[0,0],"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }] }) }}","options":{}},"credentials":{"googlePalmApi":{"id":"Xw882n6J03q5FPQI","name":"Google Gemini(PaLM) Api account"}}},{"id":"mcp-format","name":"格式化 Discord","type":"n8n-nodes-base.code","typeVersion":2,"position":[300,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const geminiText = ($json.candidates?.[0]?.content?.parts?.[0]?.text) || '（Gemini 未回應）';\nconst today = new Date().toLocaleDateString('zh-TW', {timeZone:'Asia/Taipei',year:'numeric',month:'long',day:'numeric',weekday:'long'});\nconst header = `🔥 **GitHub Trending 週報** 🚀\\n📅 ${today}\\n\\n`;\nconst footer = `\\n\\n> 資料來源：GitHub Search 本週活躍熱門專案（stars>30 · 7天內有 commit）`;\nlet content = header + geminiText + footer;\nif (content.length > 1900) content = content.substring(0, 1897) + '...';\nreturn [{ json: { content } }];"}},{"id":"mcp-discord","name":"Discord 推送","type":"n8n-nodes-base.discord","typeVersion":2,"position":[600,0],"parameters":{"authentication":"webhook","content":"={{ $json.content }}","options":{}},"credentials":{"discordWebhookApi":{"id":"lrmdeEtQUhigUA6Q","name":"bot_ai新知"}}},{"id":"mcp-save-recommended","name":"儲存已推薦清單","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const geminiText = $('Gemini 評估').first().json?.candidates?.[0]?.content?.parts?.[0]?.text || '';\nconst allRepos = $('準備 Gemini Prompt').first().json?.repos || [];\nconst mentioned = allRepos\n  .filter(r => geminiText.includes(r.full_name))\n  .map(r => r.full_name);\nconsole.log('[去重] 本週推薦:', mentioned.join(', '));\nconst staticData = $getWorkflowStaticData('global');\nconst prev = staticData.previousRepos || [];\nstaticData.previousRepos = [...prev, ...mentioned].slice(-20);\nconsole.log('[去重] 累計排除清單:', staticData.previousRepos.join(', '));\nreturn $input.all();"}}],"connections":{"每週排程":{"main":[[{"node":"GitHub 搜尋 Trending","type":"main","index":0}]]},"Webhook 手動觸發":{"main":[[{"node":"GitHub 搜尋 Trending","type":"main","index":0}]]},"GitHub 搜尋 Trending":{"main":[[{"node":"準備 Gemini Prompt","type":"main","index":0}]]},"準備 Gemini Prompt":{"main":[[{"node":"Gemini 評估","type":"main","index":0}]]},"Gemini 評估":{"main":[[{"node":"格式化 Discord","type":"main","index":0}]]},"格式化 Discord":{"main":[[{"node":"Discord 推送","type":"main","index":0}]]},"Discord 推送":{"main":[[{"node":"儲存已推薦清單","type":"main","index":0}]]}},"authors":"peter lu","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-14T07:24:19.719Z","id":63,"workflowId":"LxwVTKy2YIt80LP1","versionId":"ccc1954d-fb9a-445d-89fa-4bc4e731fcc8","event":"activated","userId":"0bd3800a-8a59-43b2-8725-1f6789a39918"}]}}