flows/MCP_Server_週報.json
{"updatedAt":"2026-03-08T16:50:38.947Z","createdAt":"2026-02-27T19:53:08.294Z","id":"LxwVTKy2YIt80LP1","name":"MCP Server 週報","description":null,"active":true,"isArchived":false,"nodes":[{"id":"mcp-schedule","name":"每週排程","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-900,-100],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 23 * * 1"}]}}},{"id":"mcp-webhook","name":"Webhook 手動觸發","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-900,100],"webhookId":"c3d4e5f6-a7b8-9012-cdef-123456789abc","parameters":{"httpMethod":"POST","path":"trigger-weekly","responseMode":"onReceived","options":{}}},{"id":"mcp-github-search","name":"GitHub 搜尋 MCP","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-600,0],"parameters":{"method":"GET","url":"https://api.github.com/search/repositories","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"topic:mcp-server stars:>50"},{"name":"sort","value":"updated"},{"name":"order","value":"desc"},{"name":"per_page","value":"30"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"User-Agent","value":"n8n-mcp-monitor"}]},"options":{}}},{"id":"mcp-prepare-prompt","name":"準備 Gemini Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[-300,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const items = $input.all();\nconst cutoff = new Date(Date.now() - 90 * 24 * 60 * 60 * 1000);\n\n// 讀取歷史推薦清單（持久化在 staticData）\nconst staticData = $getWorkflowStaticData('global');\nconst excluded = staticData.previousRepos || [];\nif (excluded.length > 0) {\n  console.log('[去重] 排除已推薦過的', excluded.length, '個專案:', excluded.join(', '));\n}\n\nconst filtered = (items[0].json.items || [])\n  .filter(r => {\n    if (!r.description || r.description.length < 10) return false;\n    if (r.stargazers_count > 100000) return false; // 排除超大平台\n    if (excluded.includes(r.full_name)) return false; // 排除已推薦過的\n    const pushed = r.pushed_at ? new Date(r.pushed_at) : null;\n    return pushed && pushed >= cutoff; // 90 天內有 commit\n  })\n  .slice(0, 15);\n\nconst repoList = filtered.map((r, i) => {\n  const pushed = r.pushed_at ? r.pushed_at.split('T')[0] : '?';\n  const created = r.created_at ? r.created_at.split('T')[0] : '?';\n  return `${i+1}. ${r.full_name} (⭐${r.stargazers_count}, 最近commit:${pushed}, 建立:${created})\\n   ${r.description}\\n   ${r.html_url}`;\n}).join('\\n\\n');\n\nif (filtered.length === 0) {\n  return [{ json: { repos: [], prompt: '', skip: true } }];\n}\n\nconst prompt = `以下是 GitHub 上近 90 天內有活躍 commit 的 MCP Server 專案（MCP = Model Context Protocol，讓 AI 助理連接外部工具/服務）。\n\n請挑選 5 個最實用的，評估時同時考量：\n- ⭐ Stars 數（社群熱度）\n- 📅 最近 commit 日期（維護活躍度）\n\n對每個項目請用以下格式（繁體中文回應）：\n\n**名稱**\n🔧 功能：一句話說明能做什麼（不超過30字）\n💡 場景：適合什麼使用情境\n🔗 連結：直接附上 GitHub URL\n\nMCP Server 清單：\n${repoList}`;\n\nreturn [{ json: { repos: filtered, prompt } }];"}},{"id":"mcp-gemini","name":"Gemini 評估","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[0,0],"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }] }) }}","options":{}},"credentials":{"googlePalmApi":{"id":"Xw882n6J03q5FPQI","name":"Google Gemini(PaLM) Api account"}}},{"id":"mcp-format","name":"格式化 Discord","type":"n8n-nodes-base.code","typeVersion":2,"position":[300,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const geminiText = ($json.candidates?.[0]?.content?.parts?.[0]?.text) || '（Gemini 未回應）';\nconst today = new Date().toLocaleDateString('zh-TW', {timeZone:'Asia/Taipei',year:'numeric',month:'long',day:'numeric',weekday:'long'});\nconst header = `🔌 **MCP Server 週報** 🤖\\n📅 ${today}\\n\\n`;\nconst footer = `\\n\\n> 資料來源：GitHub topic:mcp-server（90天活躍 · stars>50）`;\nlet content = header + geminiText + footer;\nif (content.length > 1900) content = content.substring(0, 1897) + '...';\nreturn [{ json: { content } }];"}},{"id":"mcp-discord","name":"Discord 推送","type":"n8n-nodes-base.discord","typeVersion":2,"position":[600,0],"parameters":{"authentication":"webhook","content":"={{ $json.content }}","options":{}},"credentials":{"discordWebhookApi":{"id":"lrmdeEtQUhigUA6Q","name":"bot_ai新知"}}},{"id":"mcp-save-recommended","name":"儲存已推薦清單","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"// 解析 Gemini 回傳文字，找出本週推薦的 repo full_name\nconst geminiText = $('Gemini 評估').first().json?.candidates?.[0]?.content?.parts?.[0]?.text || '';\nconst allRepos = $('準備 Gemini Prompt').first().json?.repos || [];\n\n// 比對 Gemini 文字中出現了哪些 full_name\nconst mentioned = allRepos\n  .filter(r => geminiText.includes(r.full_name))\n  .map(r => r.full_name);\n\nconsole.log('[去重] 本週推薦:', mentioned.join(', '));\n\n// 更新 staticData，保留最近 4 週（20 個）\nconst staticData = $getWorkflowStaticData('global');\nconst prev = staticData.previousRepos || [];\nstaticData.previousRepos = [...prev, ...mentioned].slice(-20);\n\nconsole.log('[去重] 累計排除清單:', staticData.previousRepos.join(', '));\n\nreturn $input.all();"}}],"connections":{"每週排程":{"main":[[{"node":"GitHub 搜尋 MCP","type":"main","index":0}]]},"Webhook 手動觸發":{"main":[[{"node":"GitHub 搜尋 MCP","type":"main","index":0}]]},"GitHub 搜尋 MCP":{"main":[[{"node":"準備 Gemini Prompt","type":"main","index":0}]]},"準備 Gemini Prompt":{"main":[[{"node":"Gemini 評估","type":"main","index":0}]]},"Gemini 評估":{"main":[[{"node":"格式化 Discord","type":"main","index":0}]]},"格式化 Discord":{"main":[[{"node":"Discord 推送","type":"main","index":0}]]},"Discord 推送":{"main":[[{"node":"儲存已推薦清單","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":true,"saveManualExecutions":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","executionTimeout":3600,"timezone":"UTC","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"executionOrder":"v1"},"staticData":{"node:每週排程":{"recurrenceRules":[]},"global":{"previousRepos":["google-gemini/gemini-cli","upstash/context7","ChromeDevTools/chrome-devtools-mcp","activepieces/activepieces","oraios/serena","TheLunarCompany/lunar","jpicklyk/task-orchestrator","Cyfrin/aderyn"]}},"meta":null,"pinData":null,"versionId":"4a3d7364-b225-4abd-8785-8efc56c97412","activeVersionId":"4a3d7364-b225-4abd-8785-8efc56c97412","versionCounter":42,"triggerCount":2,"shared":[{"updatedAt":"2026-02-27T19:53:08.302Z","createdAt":"2026-02-27T19:53:08.302Z","role":"workflow:owner","workflowId":"LxwVTKy2YIt80LP1","projectId":"AoCIq5JRkialljrz","project":{"updatedAt":"2026-02-04T16:02:35.455Z","createdAt":"2026-02-04T16:01:41.010Z","id":"AoCIq5JRkialljrz","name":"peter lu <peter888852@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"0bd3800a-8a59-43b2-8725-1f6789a39918"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-08T16:50:09.187Z","createdAt":"2026-03-08T16:50:09.187Z","versionId":"4a3d7364-b225-4abd-8785-8efc56c97412","workflowId":"LxwVTKy2YIt80LP1","nodes":[{"id":"mcp-schedule","name":"每週排程","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-900,-100],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 23 * * 1"}]}}},{"id":"mcp-webhook","name":"Webhook 手動觸發","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-900,100],"webhookId":"c3d4e5f6-a7b8-9012-cdef-123456789abc","parameters":{"httpMethod":"POST","path":"trigger-weekly","responseMode":"onReceived","options":{}}},{"id":"mcp-github-search","name":"GitHub 搜尋 MCP","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-600,0],"parameters":{"method":"GET","url":"https://api.github.com/search/repositories","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"topic:mcp-server stars:>50"},{"name":"sort","value":"updated"},{"name":"order","value":"desc"},{"name":"per_page","value":"30"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"User-Agent","value":"n8n-mcp-monitor"}]},"options":{}}},{"id":"mcp-prepare-prompt","name":"準備 Gemini Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[-300,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const items = $input.all();\nconst cutoff = new Date(Date.now() - 90 * 24 * 60 * 60 * 1000);\n\n// 讀取歷史推薦清單（持久化在 staticData）\nconst staticData = $getWorkflowStaticData('global');\nconst excluded = staticData.previousRepos || [];\nif (excluded.length > 0) {\n  console.log('[去重] 排除已推薦過的', excluded.length, '個專案:', excluded.join(', '));\n}\n\nconst filtered = (items[0].json.items || [])\n  .filter(r => {\n    if (!r.description || r.description.length < 10) return false;\n    if (r.stargazers_count > 100000) return false; // 排除超大平台\n    if (excluded.includes(r.full_name)) return false; // 排除已推薦過的\n    const pushed = r.pushed_at ? new Date(r.pushed_at) : null;\n    return pushed && pushed >= cutoff; // 90 天內有 commit\n  })\n  .slice(0, 15);\n\nconst repoList = filtered.map((r, i) => {\n  const pushed = r.pushed_at ? r.pushed_at.split('T')[0] : '?';\n  const created = r.created_at ? r.created_at.split('T')[0] : '?';\n  return `${i+1}. ${r.full_name} (⭐${r.stargazers_count}, 最近commit:${pushed}, 建立:${created})\\n   ${r.description}\\n   ${r.html_url}`;\n}).join('\\n\\n');\n\nif (filtered.length === 0) {\n  return [{ json: { repos: [], prompt: '', skip: true } }];\n}\n\nconst prompt = `以下是 GitHub 上近 90 天內有活躍 commit 的 MCP Server 專案（MCP = Model Context Protocol，讓 AI 助理連接外部工具/服務）。\n\n請挑選 5 個最實用的，評估時同時考量：\n- ⭐ Stars 數（社群熱度）\n- 📅 最近 commit 日期（維護活躍度）\n\n對每個項目請用以下格式（繁體中文回應）：\n\n**名稱**\n🔧 功能：一句話說明能做什麼（不超過30字）\n💡 場景：適合什麼使用情境\n🔗 連結：直接附上 GitHub URL\n\nMCP Server 清單：\n${repoList}`;\n\nreturn [{ json: { repos: filtered, prompt } }];"}},{"id":"mcp-gemini","name":"Gemini 評估","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[0,0],"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }] }) }}","options":{}},"credentials":{"googlePalmApi":{"id":"Xw882n6J03q5FPQI","name":"Google Gemini(PaLM) Api account"}}},{"id":"mcp-format","name":"格式化 Discord","type":"n8n-nodes-base.code","typeVersion":2,"position":[300,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const geminiText = ($json.candidates?.[0]?.content?.parts?.[0]?.text) || '（Gemini 未回應）';\nconst today = new Date().toLocaleDateString('zh-TW', {timeZone:'Asia/Taipei',year:'numeric',month:'long',day:'numeric',weekday:'long'});\nconst header = `🔌 **MCP Server 週報** 🤖\\n📅 ${today}\\n\\n`;\nconst footer = `\\n\\n> 資料來源：GitHub topic:mcp-server（90天活躍 · stars>50）`;\nlet content = header + geminiText + footer;\nif (content.length > 1900) content = content.substring(0, 1897) + '...';\nreturn [{ json: { content } }];"}},{"id":"mcp-discord","name":"Discord 推送","type":"n8n-nodes-base.discord","typeVersion":2,"position":[600,0],"parameters":{"authentication":"webhook","content":"={{ $json.content }}","options":{}},"credentials":{"discordWebhookApi":{"id":"lrmdeEtQUhigUA6Q","name":"bot_ai新知"}}},{"id":"mcp-save-recommended","name":"儲存已推薦清單","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"// 解析 Gemini 回傳文字，找出本週推薦的 repo full_name\nconst geminiText = $('Gemini 評估').first().json?.candidates?.[0]?.content?.parts?.[0]?.text || '';\nconst allRepos = $('準備 Gemini Prompt').first().json?.repos || [];\n\n// 比對 Gemini 文字中出現了哪些 full_name\nconst mentioned = allRepos\n  .filter(r => geminiText.includes(r.full_name))\n  .map(r => r.full_name);\n\nconsole.log('[去重] 本週推薦:', mentioned.join(', '));\n\n// 更新 staticData，保留最近 4 週（20 個）\nconst staticData = $getWorkflowStaticData('global');\nconst prev = staticData.previousRepos || [];\nstaticData.previousRepos = [...prev, ...mentioned].slice(-20);\n\nconsole.log('[去重] 累計排除清單:', staticData.previousRepos.join(', '));\n\nreturn $input.all();"}}],"connections":{"每週排程":{"main":[[{"node":"GitHub 搜尋 MCP","type":"main","index":0}]]},"Webhook 手動觸發":{"main":[[{"node":"GitHub 搜尋 MCP","type":"main","index":0}]]},"GitHub 搜尋 MCP":{"main":[[{"node":"準備 Gemini Prompt","type":"main","index":0}]]},"準備 Gemini Prompt":{"main":[[{"node":"Gemini 評估","type":"main","index":0}]]},"Gemini 評估":{"main":[[{"node":"格式化 Discord","type":"main","index":0}]]},"格式化 Discord":{"main":[[{"node":"Discord 推送","type":"main","index":0}]]},"Discord 推送":{"main":[[{"node":"儲存已推薦清單","type":"main","index":0}]]}},"authors":"peter lu","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-08T16:50:09.279Z","id":59,"workflowId":"LxwVTKy2YIt80LP1","versionId":"4a3d7364-b225-4abd-8785-8efc56c97412","event":"activated","userId":"0bd3800a-8a59-43b2-8725-1f6789a39918"},{"createdAt":"2026-03-08T16:50:38.996Z","id":61,"workflowId":"LxwVTKy2YIt80LP1","versionId":"4a3d7364-b225-4abd-8785-8efc56c97412","event":"activated","userId":"0bd3800a-8a59-43b2-8725-1f6789a39918"},{"createdAt":"2026-03-08T16:50:38.918Z","id":60,"workflowId":"LxwVTKy2YIt80LP1","versionId":"4a3d7364-b225-4abd-8785-8efc56c97412","event":"deactivated","userId":"0bd3800a-8a59-43b2-8725-1f6789a39918"}]}}