flows/Reddit_AI每日精選.json
{"updatedAt":"2026-03-15T15:30:50.952Z","createdAt":"2026-03-15T15:11:39.199Z","id":"24mEFTyo3IjuNmui","name":"Reddit AI 每日精選","description":null,"active":true,"isArchived":false,"nodes":[{"id":"schedule-trigger","name":"每日排程","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-900,0],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}}},{"id":"code-subreddits","name":"準備 Subreddit 清單","type":"n8n-nodes-base.code","typeVersion":2,"position":[-600,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"return [\n  {json: {subreddit: 'ClaudeAI'}},\n  {json: {subreddit: 'artificial'}},\n  {json: {subreddit: 'LocalLLaMA'}},\n  {json: {subreddit: 'MachineLearning'}}\n];"}},{"id":"http-reddit","name":"抓 Reddit 熱門貼文","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-300,0],"parameters":{"method":"GET","url":"=https://www.reddit.com/r/{{$json.subreddit}}/top.json?t=day&limit=5","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"n8n-reddit-ai-bot/1.0"}]},"options":{}}},{"id":"code-parse","name":"整理貼文清單","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const allPosts = [];\nfor (const item of $input.all()) {\n  const posts = item.json.data?.children || [];\n  for (const post of posts) {\n    const d = post.data;\n    if (!d.stickied) {\n      allPosts.push({\n        subreddit: d.subreddit,\n        title: d.title,\n        score: d.score,\n        comments: d.num_comments,\n        url: 'https://reddit.com' + d.permalink,\n        selftext: (d.selftext || '').substring(0, 200)\n      });\n    }\n  }\n}\nallPosts.sort((a, b) => b.score - a.score);\nconst top = allPosts.slice(0, 12);\nconst formatted = top.map((p, i) =>\n  `${i+1}. [r/${p.subreddit}] ${p.title} (\\u{1F44D}${p.score} \\u{1F4AC}${p.comments})\\n   ${p.url}${p.selftext ? '\\n   ' + p.selftext : ''}`\n).join('\\n\\n');\nreturn [{json: {\n  posts: top,\n  prompt: `你是 AI 社群觀察員，以下是今日 Reddit 最熱門 AI 討論（ClaudeAI 優先）：\\n\\n${formatted}\\n\\n請用繁體中文整理：\\n1. 3-5 則最值得關注的討論 + 說明為何值得關注\\n2. 今日 AI 社群最熱議的主題趨勢（1-2句）\\n3. 若有 Claude 相關討論請優先突顯\\n\\n格式：Discord Markdown + emoji，控制在 800 字內（勿附連結，連結另外提供）`\n}}];"}},{"id":"http-gemini","name":"Gemini 摘要分析","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[300,0],"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }] }) }}","options":{}},"credentials":{"googlePalmApi":{"id":"Xw882n6J03q5FPQI","name":"Google Gemini(PaLM) Api account"}}},{"id":"code-extract","name":"取出 Gemini 回應","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const text = $json.candidates?.[0]?.content?.parts?.[0]?.text || '⚠️ 無法取得摘要';\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('zh-TW', {year: 'numeric', month: 'long', day: 'numeric', weekday: 'long'});\nconst header = `\\u{1F4E1} **Reddit AI 每日精選** — ${dateStr}\\n\\n`;\nconst posts = $('整理貼文清單').first().json.posts || [];\nconst links = posts.slice(0, 7).map((p, i) =>\n  `${i+1}. <${p.url}>  (r/${p.subreddit} \\u{1F44D}${p.score})`\n).join('\\n');\nconst linkSection = `\\n\\n\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\n\\u{1F517} 原文連結\\n${links}`;\nconst maxBodyLen = 1990 - header.length - linkSection.length;\nconst body = maxBodyLen > 0 ? (text.length > maxBodyLen ? text.substring(0, maxBodyLen - 3) + '...' : text) : '(摘要略)';\nreturn [{json: { message: header + body + linkSection }}];"}},{"id":"discord-push","name":"Discord 推送","type":"n8n-nodes-base.discord","typeVersion":2,"position":[900,0],"parameters":{"authentication":"webhook","content":"={{$json.message}}","options":{}},"credentials":{"discordWebhookApi":{"id":"lrmdeEtQUhigUA6Q","name":"bot_ai新知"}}}],"connections":{"每日排程":{"main":[[{"node":"準備 Subreddit 清單","type":"main","index":0}]]},"準備 Subreddit 清單":{"main":[[{"node":"抓 Reddit 熱門貼文","type":"main","index":0}]]},"抓 Reddit 熱門貼文":{"main":[[{"node":"整理貼文清單","type":"main","index":0}]]},"整理貼文清單":{"main":[[{"node":"Gemini 摘要分析","type":"main","index":0}]]},"Gemini 摘要分析":{"main":[[{"node":"取出 Gemini 回應","type":"main","index":0}]]},"取出 Gemini 回應":{"main":[[{"node":"Discord 推送","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"saveManualExecutions":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","executionTimeout":3600,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:每日排程":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"c66a4749-5a4a-4fc2-adac-ebc3c545dd32","activeVersionId":"c66a4749-5a4a-4fc2-adac-ebc3c545dd32","versionCounter":20,"triggerCount":1,"shared":[{"updatedAt":"2026-03-15T15:11:39.200Z","createdAt":"2026-03-15T15:11:39.200Z","role":"workflow:owner","workflowId":"24mEFTyo3IjuNmui","projectId":"AoCIq5JRkialljrz","project":{"updatedAt":"2026-02-04T16:02:35.455Z","createdAt":"2026-02-04T16:01:41.010Z","id":"AoCIq5JRkialljrz","name":"peter lu <peter888852@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"0bd3800a-8a59-43b2-8725-1f6789a39918"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-15T15:30:50.953Z","createdAt":"2026-03-15T15:30:50.953Z","versionId":"c66a4749-5a4a-4fc2-adac-ebc3c545dd32","workflowId":"24mEFTyo3IjuNmui","nodes":[{"id":"schedule-trigger","name":"每日排程","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-900,0],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}}},{"id":"code-subreddits","name":"準備 Subreddit 清單","type":"n8n-nodes-base.code","typeVersion":2,"position":[-600,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"return [\n  {json: {subreddit: 'ClaudeAI'}},\n  {json: {subreddit: 'artificial'}},\n  {json: {subreddit: 'LocalLLaMA'}},\n  {json: {subreddit: 'MachineLearning'}}\n];"}},{"id":"http-reddit","name":"抓 Reddit 熱門貼文","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-300,0],"parameters":{"method":"GET","url":"=https://www.reddit.com/r/{{$json.subreddit}}/top.json?t=day&limit=5","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"n8n-reddit-ai-bot/1.0"}]},"options":{}}},{"id":"code-parse","name":"整理貼文清單","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const allPosts = [];\nfor (const item of $input.all()) {\n  const posts = item.json.data?.children || [];\n  for (const post of posts) {\n    const d = post.data;\n    if (!d.stickied) {\n      allPosts.push({\n        subreddit: d.subreddit,\n        title: d.title,\n        score: d.score,\n        comments: d.num_comments,\n        url: 'https://reddit.com' + d.permalink,\n        selftext: (d.selftext || '').substring(0, 200)\n      });\n    }\n  }\n}\nallPosts.sort((a, b) => b.score - a.score);\nconst top = allPosts.slice(0, 12);\nconst formatted = top.map((p, i) =>\n  `${i+1}. [r/${p.subreddit}] ${p.title} (\\u{1F44D}${p.score} \\u{1F4AC}${p.comments})\\n   ${p.url}${p.selftext ? '\\n   ' + p.selftext : ''}`\n).join('\\n\\n');\nreturn [{json: {\n  posts: top,\n  prompt: `你是 AI 社群觀察員，以下是今日 Reddit 最熱門 AI 討論（ClaudeAI 優先）：\\n\\n${formatted}\\n\\n請用繁體中文整理：\\n1. 3-5 則最值得關注的討論 + 說明為何值得關注\\n2. 今日 AI 社群最熱議的主題趨勢（1-2句）\\n3. 若有 Claude 相關討論請優先突顯\\n\\n格式：Discord Markdown + emoji，控制在 800 字內（勿附連結，連結另外提供）`\n}}];"}},{"id":"http-gemini","name":"Gemini 摘要分析","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[300,0],"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }] }) }}","options":{}},"credentials":{"googlePalmApi":{"id":"Xw882n6J03q5FPQI","name":"Google Gemini(PaLM) Api account"}}},{"id":"code-extract","name":"取出 Gemini 回應","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const text = $json.candidates?.[0]?.content?.parts?.[0]?.text || '⚠️ 無法取得摘要';\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('zh-TW', {year: 'numeric', month: 'long', day: 'numeric', weekday: 'long'});\nconst header = `\\u{1F4E1} **Reddit AI 每日精選** — ${dateStr}\\n\\n`;\nconst posts = $('整理貼文清單').first().json.posts || [];\nconst links = posts.slice(0, 7).map((p, i) =>\n  `${i+1}. <${p.url}>  (r/${p.subreddit} \\u{1F44D}${p.score})`\n).join('\\n');\nconst linkSection = `\\n\\n\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\u{2014}\\n\\u{1F517} 原文連結\\n${links}`;\nconst maxBodyLen = 1990 - header.length - linkSection.length;\nconst body = maxBodyLen > 0 ? (text.length > maxBodyLen ? text.substring(0, maxBodyLen - 3) + '...' : text) : '(摘要略)';\nreturn [{json: { message: header + body + linkSection }}];"}},{"id":"discord-push","name":"Discord 推送","type":"n8n-nodes-base.discord","typeVersion":2,"position":[900,0],"parameters":{"authentication":"webhook","content":"={{$json.message}}","options":{}},"credentials":{"discordWebhookApi":{"id":"lrmdeEtQUhigUA6Q","name":"bot_ai新知"}}}],"connections":{"每日排程":{"main":[[{"node":"準備 Subreddit 清單","type":"main","index":0}]]},"準備 Subreddit 清單":{"main":[[{"node":"抓 Reddit 熱門貼文","type":"main","index":0}]]},"抓 Reddit 熱門貼文":{"main":[[{"node":"整理貼文清單","type":"main","index":0}]]},"整理貼文清單":{"main":[[{"node":"Gemini 摘要分析","type":"main","index":0}]]},"Gemini 摘要分析":{"main":[[{"node":"取出 Gemini 回應","type":"main","index":0}]]},"取出 Gemini 回應":{"main":[[{"node":"Discord 推送","type":"main","index":0}]]}},"authors":"peter lu","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-15T15:30:51.034Z","id":70,"workflowId":"24mEFTyo3IjuNmui","versionId":"c66a4749-5a4a-4fc2-adac-ebc3c545dd32","event":"activated","userId":"0bd3800a-8a59-43b2-8725-1f6789a39918"}]}}